/* #############################################

	If you don't put enough care for the
	quality of your products, your
	customers wouldn't either.

								- Your's truly

################################################ */
/* Table of Contents
   - - - - - - - - - - - - - - - - - - - - - - - 
   1. Header/sidebar navigation
   		1.1. Mobile Navigation
   		1.2. Logo
		1.3. Main Navigation
		1.4. Copyright
   2. Page body
   		2.1. Introduction
   		2.2. Image Banner
   		2.3. Signup & contact links
   		2.4. Feature highlights
   		2.5. Full features (Owl Carousel)
   		2.6. Reporting
        2.7. Screenshots
   		2.8. Contacts & Map
   		2.9. Google Map Custom Location Marker
	3. Misc (Back to top, etc)
   - - - - - - - - - - - - - - - - - - - - - - - 
 */
body {
  background: #FFF; }
  body .page-container {
    /* 1. Header/sidebar navigation */
    /* 2. Page body */
    /* 3.  Misc (Back to top, etc) */
    padding: 0;
    position: relative; }
    body .page-container .header-nav {
      max-width: 250px;
      height: 100%;
      background: #C5BEBE;
      background: url("../images/side-nav-bg.jpg") no-repeat;
      background-size: cover;
      position: fixed;
      z-index: 10;
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
      /* 1.1. Mobile Navigation */
      /* 1.2. Logo */
      /* 1.3. Main Navigation */
      /* 1.4. Copyright */ }
      body .page-container .header-nav .hamburger {
        display: none;
        background: #000;
        border-radius: 5px;
        position: absolute;
        left: 260px;
        top: 10px;
        outline: 0; }
        body .page-container .header-nav .hamburger .hamburger-inner {
          background: #fff !important; }
          body .page-container .header-nav .hamburger .hamburger-inner:before, body .page-container .header-nav .hamburger .hamburger-inner:after {
            background: #fff !important; }
      body .page-container .header-nav .logo {
        margin: 40px 30px; }
        body .page-container .header-nav .logo img {
          display: block;
          width: 100%;
          float: right;
          margin-bottom: 10px; }
        body .page-container .header-nav .logo p {
          clear: both;
          color: #FFF;
          font-family: "Shadows Into Light Two";
          font-size: 18px;
          font-weight: 400;
          text-align: right; }
      body .page-container .header-nav nav#main-nav ul {
        padding: 0; }
        body .page-container .header-nav nav#main-nav ul li {
          list-style-type: none;
          text-align: right; }
          body .page-container .header-nav nav#main-nav ul li a {
            display: inline-block;
            line-height: 32px;
            color: #FFF;
            font-family: "Open Sans";
            font-size: 14px;
            font-weight: 400;
            text-decoration: none;
            margin-right: 30px;
            -moz-transition: all .3s ease-in-out;
            -webkit-transition: all .3s ease-in-out;
            -o-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out; }
            body .page-container .header-nav nav#main-nav ul li a i {
              display: inline-block;
              vertical-align: middle;
              font-size: 18px;
              margin-top: 2px; }
            body .page-container .header-nav nav#main-nav ul li a:hover {
              margin-right: 20px; }
          body .page-container .header-nav nav#main-nav ul li a.current {
            color: #ffff00;
            font-weight: 700; }
          body .page-container .header-nav nav#main-nav ul li a.login {
            background: #0B63C6;
            color: #FFF;
            border-radius: 4px;
            padding: 0 10px; }
            body .page-container .header-nav nav#main-nav ul li a.login i {
              margin-left: 10px; }
      body .page-container .header-nav .copyright {
        position: absolute;
        bottom: 30px;
        right: 30px; }
        body .page-container .header-nav .copyright p {
          font-family: "Open Sans";
          font-size: 14px;
          font-weight: 400;
          text-align: right;
          color: #FFF; }
          body .page-container .header-nav .copyright p a {
            color: #FFF;
            text-decoration: underline; }
    body .page-container .body {
      margin-left: 250px;
      /* 2.1. Introduction */
      /* 2.2 Image Banner */
      /* 2.3. Signup & contact links */
      /* 2.4. Feature highlights */
      /* 2.5. Full features (Owl Carousel) */
      /* 2.6. Reporting */
      /* 2.7. Screenshots */
      /* 2.8. Contacts & Map */
      /* 2.9. Google Map Custom Location Marker */ }
      body .page-container .body .full-container {
        width: 100%;
        display: block;
        position: relative; }
      body .page-container .body .container-fluid {
        max-width: 1800px; }
      body .page-container .body .intro-container {
        height: 65vh;
        position: relative;
        background: url("../images/intro-bg-retina-desktop.jpg") no-repeat;
        background-size: cover;
        background-position: center;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        justify-content: center;
        align-items: flex-start; }
        body .page-container .body .intro-container .intro-contents header {
          padding: 70px 0;
          width: 75%;
          margin: 0 auto; }
          body .page-container .body .intro-container .intro-contents header h1, body .page-container .body .intro-container .intro-contents header p {
            font-family: "Open Sans";
            font-size: 52px;
            font-weight: 700;
            text-align: center;
            margin: 0;
            padding: 0;
            color: #FFF; }
          body .page-container .body .intro-container .intro-contents header h1 {
            letter-spacing: -1px; }
            body .page-container .body .intro-container .intro-contents header h1 span {
              position: relative; }
              body .page-container .body .intro-container .intro-contents header h1 span .beta {
                color: #FFF;
                font-size: 14px;
                font-weight: 700;
                border-radius: 4px;
                padding: 5px 10px;
                background: #D20F0F;
                position: absolute;
                top: 0;
                right: -35px; }
          body .page-container .body .intro-container .intro-contents header p {
            font-family: "Open Sans";
            font-size: 1.3vw;
            font-weight: 300;
            margin-top: 15px; }
        body .page-container .body .intro-container .intro-contents img {
          display: block;
          width: 70%;
          margin: 0 auto; }
      body .page-container .body .image-banner {
        height: auto;
        position: relative;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin-top: -35vh;
        margin-bottom: 0; }
        body .page-container .body .image-banner img {
          width: 80%; }
      body .page-container .body .signup-container {
        margin: 0 0 40px 0;
        position: relative;
        z-index: 1; }
        body .page-container .body .signup-container .link-container {
          margin: 10px auto;
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-flex-direction: row;
          -moz-flex-direction: row;
          flex-direction: row;
          justify-content: space-between;
          flex-wrap: nowrap;
          width: 50%; }
          body .page-container .body .signup-container .link-container .signup-link, body .page-container .body .signup-container .link-container .contact-link {
            font-family: "Open Sans";
            font-size: 18px;
            font-weight: 700;
            flex-grow: 1;
            padding: 10px;
            border-radius: 4px;
            background: #1489E4;
            border: 2px solid transparent;
            color: #FFF;
            text-align: center;
            text-decoration: none;
            margin: 0 10px;
            -moz-transition: all .3s ease-in-out;
            -webkit-transition: all .3s ease-in-out;
            -o-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out; }
          body .page-container .body .signup-container .link-container .signup-link:hover {
            background: #fff;
            color: #1489E4;
            border: 2px solid #1489E4; }
          body .page-container .body .signup-container .link-container .contact-link {
            background: #1489E4 !important; }
            body .page-container .body .signup-container .link-container .contact-link:hover {
              background: #fff !important;
              color: #1489E4 !important;
              border: 2px solid #1489E4 !important; }
      body .page-container .body .feature-highlights-container {
        margin-top: 50px;
        margin-bottom: 30px;
        border-top: 1px dashed #C9C9C9;
        border-bottom: 1px dashed #C9C9C9; }
        body .page-container .body .feature-highlights-container ul {
          padding: 0;
          margin: 0; }
          body .page-container .body .feature-highlights-container ul li {
            list-style-type: none;
            width: 33.3333%;
            float: left;
            padding: 35px 15px; }
            body .page-container .body .feature-highlights-container ul li h3 {
              margin: 0 0 15px 0;
              font-family: "Open Sans";
              font-size: 18px;
              font-weight: 700; }
            body .page-container .body .feature-highlights-container ul li .media-left i {
              font-size: 42px; }
            body .page-container .body .feature-highlights-container ul li .media-right p {
              font-family: "Open Sans";
              font-size: 14px;
              font-weight: 400; }
          body .page-container .body .feature-highlights-container ul li.feature-1 i {
            color: #2F5BDA; }
          body .page-container .body .feature-highlights-container ul li.feature-2 {
            border-right: 1px dashed #C9C9C9;
            border-left: 1px dashed #C9C9C9; }
            body .page-container .body .feature-highlights-container ul li.feature-2 i {
              color: #D3A917; }
          body .page-container .body .feature-highlights-container ul li.feature-3 i {
            color: #1FE753; }
      body .page-container .body .why-container {
        position: relative;
        padding: 0;
        margin: 110px 0;
        background: #1596D2;
        background: url("../images/why-bg.jpg") no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover; }
        body .page-container .body .why-container .skew-prepended {
          width: 100%;
          height: 110px;
          background: #fff;
          position: absolute;
          top: -50px;
          z-index: 1;
          transform: skewY(-3.1deg); }
        body .page-container .body .why-container .why {
          padding: 120px 0 160px 0;
          position: relative; }
          body .page-container .body .why-container .why header h2 {
            text-align: center;
            font-family: "Open Sans";
            font-size: 42px;
            font-weight: 700;
            color: #fff;
            margin: 0; }
            body .page-container .body .why-container .why header h2 i {
              display: inline-block;
              vertical-align: middle;
              font-size: 18px;
              font-size: 34px;
              margin-right: 15px;
              color: #ff0; }
          body .page-container .body .why-container .why header .border-gray {
            display: block;
            width: 150px;
            height: 6px;
            background: url("../images/border-gray.png") repeat-x 0 0;
            border: 0;
            margin: 30px auto; }
          body .page-container .body .why-container .why header .border-white {
            display: block;
            width: 150px;
            height: 6px;
            background: url("../images/border-white.png") repeat-x 0 0;
            border: 0;
            margin: 30px auto; }
          body .page-container .body .why-container .why header p {
            font-family: "Open Sans";
            font-size: 22px;
            font-weight: 300;
            color: #fff;
            margin: 15px 0;
            text-align: center; }
          body .page-container .body .why-container .why header {
            width: 75%;
            margin: 0 auto; }
          body .page-container .body .why-container .why .features {
            width: 75%;
            margin: 30px auto 0 auto; }
            body .page-container .body .why-container .why .features .owl-stage-outer {
              padding: 20px 0; }
            body .page-container .body .why-container .why .features .feature {
              min-height: 400px;
              background: #fff;
              position: relative;
              box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
              border-radius: 8px;
              overflow: hidden; }
              body .page-container .body .why-container .why .features .feature .top-img {
                height: 200px;
                background: #BFE4ED;
                width: 100%;
                overflow: hidden;
                position: relative; }
                body .page-container .body .why-container .why .features .feature .top-img img {
                  width: 100%; }
                body .page-container .body .why-container .why .features .feature .top-img::after {
                  content: '';
                  width: 0;
                  height: 0;
                  border-style: solid;
                  border-width: 0 37.5px 20px 37.5px;
                  border-color: transparent transparent #ffffff;
                  transform: translateX(-50%);
                  position: absolute;
                  bottom: 0px;
                  left: 50%;
                  z-index: 1; }
              body .page-container .body .why-container .why .features .feature .feature-body {
                padding: 15px; }
                body .page-container .body .why-container .why .features .feature .feature-body h3 {
                  font-family: "Open Sans";
                  font-size: 20px;
                  font-weight: 700;
                  text-align: center;
                  margin: 15px 0;
                  color: #B635B4;
                  position: relative; }
                  body .page-container .body .why-container .why .features .feature .feature-body h3::after {
                    content: '';
                    display: block;
                    width: 100px;
                    clear: both;
                    height: 2px;
                    background: #C6D7E1;
                    margin: 15px auto 0 auto; }
                  body .page-container .body .why-container .why .features .feature .feature-body h3 span {
                    position: absolute;
                    left: -5px;
                    font-size: 64px;
                    font-weight: 700;
                    z-index: 0;
                    opacity: .2;
                    top: -24px;
                    letter-spacing: -2px; }
                body .page-container .body .why-container .why .features .feature .feature-body p {
                  font-size: 16px;
                  text-align: center; }
          body .page-container .body .why-container .why .owl-nav .owl-prev, body .page-container .body .why-container .why .owl-nav .owl-next {
            display: block;
            width: 32px;
            float: left;
            content: ''; }
            body .page-container .body .why-container .why .owl-nav .owl-prev i, body .page-container .body .why-container .why .owl-nav .owl-next i {
              font-size: 24px;
              color: #fff;
              -moz-transition: all .3s ease-in-out;
              -webkit-transition: all .3s ease-in-out;
              -o-transition: all .3s ease-in-out;
              transition: all .3s ease-in-out;
              opacity: .25; }
              body .page-container .body .why-container .why .owl-nav .owl-prev i:hover, body .page-container .body .why-container .why .owl-nav .owl-next i:hover {
                opacity: 1; }
        body .page-container .body .why-container .skew-appended {
          width: 100%;
          height: 110px;
          background: #fff;
          position: absolute;
          bottom: -68px;
          z-index: 1;
          transform: skewY(-3.1deg); }
      body .page-container .body .reporting {
        margin: 100px 0 0 0;
        background: #fbfbfb;
        padding: 60px 0 110px 0;
        border-top: 1px dashed #DADADA;
        border-bottom: 1px dashed #DADADA; }
        body .page-container .body .reporting .reporting-contents {
          width: 75%;
          margin: 0 auto !important; }
          body .page-container .body .reporting .reporting-contents header h2 {
            text-align: center;
            font-family: "Open Sans";
            font-size: 42px;
            font-weight: 700;
            color: #666;
            margin: 0; }
            body .page-container .body .reporting .reporting-contents header h2 i {
              display: inline-block;
              vertical-align: middle;
              font-size: 18px;
              font-size: 34px;
              margin-right: 15px;
              color: #217BB4; }
          body .page-container .body .reporting .reporting-contents header .border-gray {
            display: block;
            width: 150px;
            height: 6px;
            background: url("../images/border-gray.png") repeat-x 0 0;
            border: 0;
            margin: 30px auto; }
          body .page-container .body .reporting .reporting-contents header .border-white {
            display: block;
            width: 150px;
            height: 6px;
            background: url("../images/border-white.png") repeat-x 0 0;
            border: 0;
            margin: 30px auto; }
          body .page-container .body .reporting .reporting-contents header p {
            font-family: "Open Sans";
            font-size: 22px;
            font-weight: 300;
            color: #666;
            margin: 15px 0;
            text-align: center; }
          body .page-container .body .reporting .reporting-contents header {
            margin: 30px 0 80px 0; }
          body .page-container .body .reporting .reporting-contents img {
            max-width: 100%; }
          body .page-container .body .reporting .reporting-contents p {
            font-size: 16px; }
          body .page-container .body .reporting .reporting-contents p.many-others {
            margin-top: 30px;
            font-weight: 700; }
          body .page-container .body .reporting .reporting-contents ul {
            padding: 0; }
            body .page-container .body .reporting .reporting-contents ul li {
              font-family: "Open Sans";
              font-size: 16px;
              font-weight: 400;
              list-style-type: none;
              color: #666;
              float: left;
              width: 50%; }
              body .page-container .body .reporting .reporting-contents ul li i {
                display: inline-block;
                vertical-align: middle;
                font-size: 18px;
                color: #24EA24; }
      body .page-container .body .screenshots-wrapper {
        background: #F3EEEE;
        background: url("../images/screenshots-bg.jpg") no-repeat;
        background-size: cover;
        padding: 60px 0; }
        body .page-container .body .screenshots-wrapper header h2 {
          text-align: center;
          font-family: "Open Sans";
          font-size: 42px;
          font-weight: 700;
          color: #666;
          margin: 0; }
          body .page-container .body .screenshots-wrapper header h2 i {
            display: inline-block;
            vertical-align: middle;
            font-size: 18px;
            font-size: 34px;
            margin-right: 15px;
            color: #217BB4; }
        body .page-container .body .screenshots-wrapper header .border-gray {
          display: block;
          width: 150px;
          height: 6px;
          background: url("../images/border-gray.png") repeat-x 0 0;
          border: 0;
          margin: 30px auto; }
        body .page-container .body .screenshots-wrapper header .border-white {
          display: block;
          width: 150px;
          height: 6px;
          background: url("../images/border-white.png") repeat-x 0 0;
          border: 0;
          margin: 30px auto; }
        body .page-container .body .screenshots-wrapper header p {
          font-family: "Open Sans";
          font-size: 22px;
          font-weight: 300;
          color: #666;
          margin: 15px 0;
          text-align: center; }
        body .page-container .body .screenshots-wrapper header {
          width: 75%;
          margin: 0 auto 60px auto; }
        body .page-container .body .screenshots-wrapper .grid {
          width: 85%;
          margin: 0 auto; }
          body .page-container .body .screenshots-wrapper .grid .grid-item {
            width: 25%;
            padding: 15px; }
            body .page-container .body .screenshots-wrapper .grid .grid-item a {
              text-decoration: none;
              outline: 0; }
            body .page-container .body .screenshots-wrapper .grid .grid-item img {
              width: 100%;
              -moz-transition: all .3s ease-in-out;
              -webkit-transition: all .3s ease-in-out;
              -o-transition: all .3s ease-in-out;
              transition: all .3s ease-in-out; }
              body .page-container .body .screenshots-wrapper .grid .grid-item img:hover {
                position: relative;
                -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
                -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
                box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
                -moz-transform: scale(1.1);
                -webkit-transform: scale(1.1);
                transform: scale(1.1); }
      body .page-container .body #contact {
        position: relative;
        margin-top: 60px; }
        body .page-container .body #contact .inner-container header {
          width: 75%;
          margin: 0 auto; }
        body .page-container .body #contact .inner-container #map {
          height: 400px; }
        body .page-container .body #contact .inner-container header h2 {
          text-align: center;
          font-family: "Open Sans";
          font-size: 42px;
          font-weight: 700;
          color: #666;
          margin: 0; }
          body .page-container .body #contact .inner-container header h2 i {
            display: inline-block;
            vertical-align: middle;
            font-size: 18px;
            font-size: 34px;
            margin-right: 15px;
            color: #217BB4; }
        body .page-container .body #contact .inner-container header .border-gray {
          display: block;
          width: 150px;
          height: 6px;
          background: url("../images/border-gray.png") repeat-x 0 0;
          border: 0;
          margin: 30px auto; }
        body .page-container .body #contact .inner-container header .border-white {
          display: block;
          width: 150px;
          height: 6px;
          background: url("../images/border-white.png") repeat-x 0 0;
          border: 0;
          margin: 30px auto; }
        body .page-container .body #contact .inner-container header p {
          font-family: "Open Sans";
          font-size: 22px;
          font-weight: 300;
          color: #666;
          margin: 15px 0;
          text-align: center; }
        body .page-container .body #contact .inner-container header {
          margin-bottom: 30px; }
      body .page-container .body .contact-wrapper .contact-form-contents {
        width: 75%;
        margin: 0 auto;
        padding-bottom: 30px; }
        body .page-container .body .contact-wrapper .contact-form-contents header .media-left img {
          width: 92px;
          margin-top: 40px; }
        body .page-container .body .contact-wrapper .contact-form-contents header h4 {
          font-family: "Open Sans";
          font-size: 24px;
          font-weight: 700;
          margin: 60px 0 15px 0; }
        body .page-container .body .contact-wrapper .contact-form-contents header p {
          font-weight: 300; }
        body .page-container .body .contact-wrapper .contact-form-contents .contact-infos .info-block {
          padding: 0; }
          body .page-container .body .contact-wrapper .contact-form-contents .contact-infos .info-block .inner-block {
            border-radius: 8px;
            border: 2px solid #D7DEDF;
            padding: 30px;
            margin: 15px 0; }
            body .page-container .body .contact-wrapper .contact-form-contents .contact-infos .info-block .inner-block .media-left i {
              font-size: 42px; }
            body .page-container .body .contact-wrapper .contact-form-contents .contact-infos .info-block .inner-block .media-left i.icon-location {
              color: #1BA8E3; }
            body .page-container .body .contact-wrapper .contact-form-contents .contact-infos .info-block .inner-block .media-left i.icon-email-mail-streamline {
              color: #EFA609; }
            body .page-container .body .contact-wrapper .contact-form-contents .contact-infos .info-block .inner-block .media-left i.icon-iphone-streamline {
              color: #1DEE53; }
            body .page-container .body .contact-wrapper .contact-form-contents .contact-infos .info-block .inner-block .media-right p {
              font-size: 14px;
              color: #666; }
            body .page-container .body .contact-wrapper .contact-form-contents .contact-infos .info-block .inner-block .media-right ul li {
              font-size: 14px;
              text-decoration: none;
              color: #666; }
              body .page-container .body .contact-wrapper .contact-form-contents .contact-infos .info-block .inner-block .media-right ul li a {
                font-size: 14px;
                text-decoration: none;
                color: #666; }
        body .page-container .body .contact-wrapper .contact-form-contents .contact-form form .input-wrapper {
          margin: 10px 0; }
          body .page-container .body .contact-wrapper .contact-form-contents .contact-form form .input-wrapper input, body .page-container .body .contact-wrapper .contact-form-contents .contact-form form .input-wrapper textarea {
            font-family: "Open Sans";
            font-size: 14px;
            font-weight: 400;
            border: 2px solid #EFECEC;
            padding: 20px;
            -moz-transition: all .3s ease-in-out;
            -o-transition: all .3s ease-in-out;
            -webkit-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
            box-shadow: none !important; }
            body .page-container .body .contact-wrapper .contact-form-contents .contact-form form .input-wrapper input:focus, body .page-container .body .contact-wrapper .contact-form-contents .contact-form form .input-wrapper input:active, body .page-container .body .contact-wrapper .contact-form-contents .contact-form form .input-wrapper textarea:focus, body .page-container .body .contact-wrapper .contact-form-contents .contact-form form .input-wrapper textarea:active {
              box-shadow: none !important;
              border: 2px solid #147CDD; }
          body .page-container .body .contact-wrapper .contact-form-contents .contact-form form .input-wrapper input[type=text], body .page-container .body .contact-wrapper .contact-form-contents .contact-form form .input-wrapper input[type=email] {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            height: 42px;
            padding: 0 20px; }
          body .page-container .body .contact-wrapper .contact-form-contents .contact-form form .input-wrapper input[type=submit] {
            border: 2px solid transparent;
            background: #147CDD; }
            body .page-container .body .contact-wrapper .contact-form-contents .contact-form form .input-wrapper input[type=submit]:hover {
              background: #fff;
              border: 2px solid #147CDD;
              color: #147CDD; }
        body .page-container .body .contact-wrapper .contact-form-contents .contact-form .alert h3 {
          margin: 0;
          padding-bottom: 15px;
          font-size: 18px;
          font-family: 'Open Sans', Arial; }
        body .page-container .body .contact-wrapper .contact-form-contents .contact-form .alert p {
          font-size: 14px; }
          body .page-container .body .contact-wrapper .contact-form-contents .contact-form .alert p i {
            display: inline-block;
            vertical-align: middle;
            font-size: 18px;
            margin-right: 10px; }
        body .page-container .body .contact-wrapper .contact-form-contents ul {
          padding: 0; }
          body .page-container .body .contact-wrapper .contact-form-contents ul li {
            list-style-type: none;
            font-family: "Open Sans";
            font-size: 14px;
            font-weight: 400;
            line-height: 28px; }
            body .page-container .body .contact-wrapper .contact-form-contents ul li i {
              display: inline-block;
              vertical-align: middle;
              font-size: 18px;
              font-size: 20px;
              margin-right: 15px; }
      body .page-container .body .pin-wrap {
        position: absolute;
        width: 100px;
        height: 100px;
        margin-top: -120.71068px;
        margin-left: -50px;
        transform-origin: 50% 120.71068% 0; }
      body .page-container .body .pin {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100px;
        height: 100px;
        margin-top: -50px;
        margin-left: -50px;
        transform-origin: 50% 120.71068% 0; }
      body .page-container .body .pin::after {
        position: absolute;
        display: block;
        box-sizing: border-box;
        width: 100px;
        height: 100px;
        content: '';
        transform: rotateZ(-45deg);
        border: 20px solid #f93c11;
        border-radius: 50% 50% 50% 50%; }
      body .page-container .body .pin::before {
        position: absolute;
        display: block;
        box-sizing: border-box;
        width: 100px;
        height: 100px;
        content: '';
        transform: rotateZ(-45deg);
        border: 18px solid #d22b05;
        border-radius: 50% 50% 50% 0; }
      body .page-container .body .shadow {
        position: absolute; }
      body .page-container .body .shadow::after {
        position: absolute;
        left: -120px;
        display: block;
        width: 40px;
        height: 40px;
        margin-top: -20px;
        content: '';
        transform: rotateX(55deg);
        border-radius: 50%;
        box-shadow: rgba(0, 0, 0, 0.5) 100px 0 20px; }
      body .page-container .body .pulse {
        position: absolute;
        margin-top: -50px;
        margin-left: -50px;
        transform: rotateX(55deg); }
      body .page-container .body .pulse::after {
        display: block;
        width: 100px;
        height: 100px;
        content: '';
        animation: pulsate 1s ease-out;
        animation-delay: 1.1s;
        animation-iteration-count: infinite;
        opacity: 0;
        border-radius: 50%;
        box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.5);
        box-shadow: 0 0 6px 3px #f93c11; }
@keyframes pulsate {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    transform: scale(1.2, 1.2);
    opacity: 0; } }
    body .page-container #top {
      display: none;
      padding: 6px 10px 0px 10px;
      position: fixed;
      bottom: 15px;
      border-radius: 100%;
      right: 15px;
      background: #000;
      text-decoration: none;
      width: 52px;
      height: 52px;
      opacity: .55;
      z-index: 11;
      -moz-transition: all .3s ease-in-out;
      -webkit-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out; }
      body .page-container #top i {
        color: #fff;
        font-size: 32px;
        line-height: 46px; }
      body .page-container #top:hover {
        opacity: 1; }
    body .page-container p {
      color: #666666;
      font-family: "Open Sans";
      font-size: 18px;
      font-weight: 400; }

/*# sourceMappingURL=home.css.map */
