/*
################################################## 

    Strive to create a fresh, high-quality 
    products everytime. The world is
    full of shit already, don't
    you dare include your
    works to it.

                                    - Your's truly
    
    http://www.bizwex.com

###################################################
/*

/* Table of Contents
   - - - - - - - - -
   1. Small devices (0px -> 414px)
   		1.1. Header/sidebar navigation
   		1.2. Page body
   			1.2.1. Introduction section
   2. Medium devices (415px -> 980px)
   3. Large devices (981px -> 1024px)
   4. Desktop (1024px & above)
   5. High-Resolution Desktop (2560px & above)
   - - - - - - - - -
 */
/* 1. Small devices media queries. (0px -> 414px) */
@media screen and (min-width: 0px) and (max-width: 414px) {
  /* 1.1. Header/sidebar navigation */
  .header-nav {
    width: 250px !important;
    position: fixed;
    top: 0;
    left: -250px;
    z-index: 11; }
    .header-nav .hamburger {
      display: inline !important;
      left: 260px !important; }

  /* 1.2. Page body */
  .body {
    margin-left: 0 !important;
    /* 1.2.1. Introduction section */
    /* Signup & contact link section */ }
    .body .intro-container {
      height: 640px !important;
      display: flex;
      justify-content: center;
      align-items: center;
      background: url("../images/intro-bg-500-dpi.jpg") no-repeat !important;
      background-size: cover !important;
      background-position: center !important; }
      .body .intro-container .intro-contents {
        height: 640px !important;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        justify-content: center;
        align-items: center; }
        .body .intro-container .intro-contents h1 {
          font-size: 42px !important; }
        .body .intro-container .intro-contents p {
          font-size: 18px !important; }
    .body .image-banner {
      display: none !important; }
    .body .signup-container {
      margin: 30px 0 !important; }
      .body .signup-container .link-container {
        width: 100% !important;
        display: block !important; }
        .body .signup-container .link-container .signup-link, .body .signup-container .link-container .contact-link {
          display: block !important;
          width: 90% !important;
          margin: 0 auto 10px auto !important;
          font-size: 14px !important;
          float: none !important; }
    .body .feature-highlights-container {
      border: none !important; }
      .body .feature-highlights-container li {
        width: 100% !important;
        float: none !important;
        border: none !important;
        padding: 10px 0px !important; }
    .body .why-container .why {
      background: #4c766c !important; }
      .body .why-container .why header {
        width: 100% !important; }
        .body .why-container .why header p {
          font-size: 18px !important; }
      .body .why-container .why .top-img {
        height: auto !important; }
      .body .why-container .why h3 {
        margin: 10px 0 !important; }
    .body .reporting {
      padding: 30px 0 !important; }
      .body .reporting header {
        margin-top: 0 !important; }
        .body .reporting header p {
          font-size: 18px !important; }
      .body .reporting img {
        margin-bottom: 30px; }
      .body .reporting li {
        width: 100% !important; }
    .body .screenshots-wrapper .grid-item {
      width: 50% !important; }
    .body #contact header p {
      font-size: 18px !important; } }
/* 2. Medium devices media queries. (415px -> 980px) */
@media screen and (min-width: 415px) and (max-width: 980px) {
  .header-nav {
    width: 250px !important;
    position: fixed;
    top: 0;
    left: -250px;
    z-index: 11; }
    .header-nav .hamburger {
      display: inline !important;
      left: 260px !important; }

  .body {
    margin-left: 0 !important; }
    .body .intro-container {
      background: url("../images/intro-bg-ipad-retina.jpg") no-repeat !important;
      background-size: cover !important;
      background-position: center !important;
      height: 45vh !important; }
      .body .intro-container .intro-contents h1 {
        font-size: 42px !important; }
      .body .intro-container .intro-contents p {
        font-size: 3.2vw !important; }
      .body .intro-container .intro-contents img {
        width: 100% !important; }
    .body .image-banner {
      margin-top: -15vh !important; }
    .body .signup-container {
      margin: 30 0 !important; }
      .body .signup-container .link-container {
        width: 75% !important; }
        .body .signup-container .link-container .signup-link, .body .signup-container .link-container .contact-link {
          font-size: 14px !important;
          float: left !important; }
    .body .feature-highlights-container li {
      width: 100% !important;
      border: none !important; }
    .body .feature-highlights-container .media-left {
      display: block;
      width: 100%; }
      .body .feature-highlights-container .media-left i {
        display: block;
        width: 42px;
        margin: 0 auto; }
    .body .feature-highlights-container .media-right {
      display: block;
      width: 100%; }
      .body .feature-highlights-container .media-right h3, .body .feature-highlights-container .media-right p {
        text-align: center; }
    .body .why-container .why {
      background: url("../images/why-bg-retina-ipad-768.jpg") no-repeat !important;
      -webkit-background-size: cover !important;
      -moz-background-size: cover !important;
      background-size: cover !important; }
      .body .why-container .why .top-img {
        height: auto !important; }
      .body .why-container .why h3 {
        margin: 10px 0 !important; }
    .body .reporting .image-holder, .body .reporting .report-summary {
      width: 100% !important; }
      .body .reporting .image-holder img, .body .reporting .report-summary img {
        display: block;
        width: 100%;
        margin: 0 auto 60px auto; }
    .body .screenshots-wrapper .grid-item {
      width: 50% !important; }
    .body .contact-form-contents {
      width: 85% !important;
      margin: 0 auto; } }
/* 3. Large devices (769px -> 1024px) */
@media screen and (min-width: 981px) and (max-width: 1024px) {
  .body .intro-container {
    height: 65vh !important; }
    .body .intro-container .intro-contents h1 {
      font-size: 42px !important; }
    .body .intro-container .intro-contents p {
      font-size: 22px !important; }
    .body .intro-container .intro-contents img {
      width: 90% !important; }
  .body .image-banner {
    margin-top: -24vh !important; }
  .body .signup-container {
    margin: 30px 0 !important; }
    .body .signup-container .link-container {
      width: 90% !important;
      margin-top: 0 !important; }
  .body .why-container {
    background: url("../images/why-bg-retina-ipad-1024.jpg") no-repeat !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover; }
    .body .why-container .why {
      padding: 60px 0 60px 0 !important; }
      .body .why-container .why .feature-body h3 {
        margin: 0 0 30px 0 !important; }
  .body .reporting .image-holder, .body .reporting .report-summary {
    width: 100% !important; }
    .body .reporting .image-holder img, .body .reporting .report-summary img {
      display: block;
      width: 100%;
      margin: 0 auto 60px auto; }
  .body .screenshots-wrapper .grid-item {
    width: 50% !important; } }
/* 5. High-Resolution Desktop (2560px & above) */
@media screen and (min-width: 2560px) and (max-width: 3840px) {
  .intro-container {
    height: 800px !important; } }

/*# sourceMappingURL=responsive.css.map */
